In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
import os

dataset_folder = 'dataset/'
filenames = []
for filename in os.listdir(dataset_folder):
    if filename.find("_AFDB_") > -1:
        filenames.append(filename)

In [3]:
filenames

['test_AFDB_04015.csv',
 'test_AFDB_04043.csv',
 'test_AFDB_04048.csv',
 'test_AFDB_04936.csv',
 'test_AFDB_05091.csv',
 'test_AFDB_05121.csv',
 'test_AFDB_05261.csv',
 'test_AFDB_06426.csv',
 'test_AFDB_06453.csv',
 'test_AFDB_06995.csv',
 'test_AFDB_07910.csv',
 'test_AFDB_08215.csv',
 'test_AFDB_08219.csv',
 'test_AFDB_08378.csv',
 'test_AFDB_08455.csv',
 'train_AFDB_04015_balanced.csv',
 'train_AFDB_04043_balanced.csv',
 'train_AFDB_04048_balanced.csv',
 'train_AFDB_04936_balanced.csv',
 'train_AFDB_05091_balanced.csv',
 'train_AFDB_05121_balanced.csv',
 'train_AFDB_05261_balanced.csv',
 'train_AFDB_06426_balanced.csv',
 'train_AFDB_06453_balanced.csv',
 'train_AFDB_06995_balanced.csv',
 'train_AFDB_07910_balanced.csv',
 'train_AFDB_08215_balanced.csv',
 'train_AFDB_08219_balanced.csv',
 'train_AFDB_08378_balanced.csv',
 'train_AFDB_08455_balanced.csv']

In [4]:
train_dfs = []
test_dfs = []
for name in filenames :
    if name.find('train_') > -1:
        train_df = pd.read_csv(dataset_folder + name, header=None)
        train_dfs.append(train_df)
    if name.find('test_') > -1:
        test_df = pd.read_csv(dataset_folder + name, header=None)
        test_dfs.append(test_df)

In [5]:
train_df_all = pd.concat(train_dfs, ignore_index=True)
test_df_all = pd.concat(test_dfs, ignore_index=True)

In [9]:
train_df_all.tail()

,0,1,2,3,4,5,6,7,8,9,...,591,592,593,594,595,596,597,598,599,600
33055,-0.049068,0.013104,0.075180,0.122488,0.247975,0.495666,0.701690,0.848924,0.898229,0.842257,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
33056,-0.029308,0.076083,0.216461,0.344220,0.504467,0.732283,0.929944,0.947100,0.751166,0.454888,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
33057,0.862124,0.556975,0.251699,0.033675,-0.104614,-0.205641,-0.012216,0.036171,0.059388,0.014990,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
33058,-0.018008,0.033609,0.070579,0.024674,-0.006630,0.042465,0.064741,0.030956,-0.000402,0.036466,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
33059,0.143095,0.323831,0.565793,0.726778,0.836212,0.874479,0.699368,0.374617,0.044874,-0.142767,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [6]:
train_df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33060 entries, 0 to 33059
Columns: 601 entries, 0 to 600
dtypes: float64(600), int64(1)
memory usage: 151.6 MB

In [7]:
test_df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12906 entries, 0 to 12905
Columns: 601 entries, 0 to 600
dtypes: float64(601)
memory usage: 59.2 MB

In [10]:
train_df_all.to_csv(dataset_folder + "train_all.csv", index=None, header=None)

In [11]:
test_df_all.to_csv(dataset_folder + "test_all.csv", index=None, header=None)